@import "../abstract/variables";

.sub_title {
  color: $font-title-color;
  font-size: $font-sub-title-size;
  line-height: 12px;

  &:hover {
    transition: 0.5s ease 0.1s;
    transform: translateY(-7px);
  }
}

.sub_title_span {
  font-size: $font-sub-title-size;
  color: $font-sub-title-color;
}
