@import "../abstract/variables";

.cards_main_container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .img_card {
    width: 200px;
    height: 200px;
    border-radius: 14px;
    background-color: transparent !important;
  }
}
