$bg-color-primary: #222831;
$bg-color-secondary: #393E46;

$font-title-color: #EEEEEE;
$font-title-weight: bold;
$font-title-size: 1.8rem;
$font-sub-title-color: #00ADB5;
$font-sub-title-size: 1.2rem;

$font-text-color: #EEEEEE;
$font-text-size: 1rem;

// Theme Light

$bg-color-light: #C9D6DF;
$bg-color-secondary-light: #F0F5F9;

$font-title-color-light: #52616B;
$font-sub-title-color-light: #1E2022;
$font-text-color-light: #52616B;
