$bg-color-primary: #222831;
$bg-color-secondary: #393e46;

$font-title-color: #eeeeee;
$font-title-weight: bold;
$font-title-size: 2.3rem;
$font-sub-title-color: #00adb5;
$font-sub-title-size: 1.2rem;

$font-text-color: #eeeeee;
$font-text-size: $font-title-size / 2;

// Theme Light

$bg-color-light: #c9d6df;
$bg-color-secondary-light: #f0f5f9;

$font-title-color-light: #52616b;
$font-sub-title-color-light: #1e2022;
$font-text-color-light: #52616b;
